@font-face {
    font-family: 'Domine_regular' ;
    src: url('../../../public/fonts/Domine-Regular.ttf') format('truetype');
}

header {
    padding: 1%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 98%;
    background-color:#000000
}

.logo {
    font-family: 'Domine_regular';
    font-size: 32px;
    color: rgba(235, 221, 213, 1);
}